<h1>Éditer Association</h1>

<%= render 'form', association: @association %>

<p class="btn btn-primary"> 
	<%= link_to 'Voir', @association %>
</p>
<p class="btn btn-default">
	<%= link_to 'Annuler', @association %>
</p>